body{
	background-size:1370px 700px;
	background-attachment:fixed;
	background-repeat:no repeat;
	transition: background-image 0.9s ease-in-out;
	-ms-transform-origin: 50% 100%;
}


h1,p{
	text-align:center;
	
}
div.cont{
	position:relative;
	top:5em;
	left:25em;
	background-color:white;
	width:36em;
	height:27em;
	font-family:"Verdana";border-radius:12px;background:rgba(255,255,255,0.8);
	}
.login{
	position:relative;
	top:5em;
	float:right;
    background-color: #f2a228;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:"Verdana";
}
.enter{

	position:relative;
	left:15em;
    background-color: #f2a228;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    font-family:"Verdana";
}
.welcome{

    background-color: #f2a228;
	position:relative;
	top:5em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:"Verdana";
}

 p.ti{float:right;padding-right:32px;padding-bottom:0px;}
